html
	head
		meta(charset="utf8")
		script(async, src='/admin/bootloader.js')
		meta(name='csrf', content=csrf)

	body
		noscript
			p Please allow to execute JavaScript.
			p JavaScriptの実行を許可してください。
